<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Go Adventure</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" open="true" #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="assets/GOAdvt.jpg" />
    <h2 class="name">GA</h2>
    <mat-nav-list class="mat-list">
      <a mat-list-item routerLinkActive="active" routerLink="Home">
         <mat-icon style="margin-right: 10px;">home</mat-icon>Home
      </a>
      <mat-divider></mat-divider>
      <mat-expansion-panel style="margin-top: 10px;">
        <mat-expansion-panel-header>
          <mat-panel-title class="Admin">
            <mat-icon style="margin-right: 10px;" class="mat-icon">account_balance</mat-icon>
            Accounts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="mat-list">
          <a mat-list-item routerLinkActive="active" routerLink="salaries">Salaries</a>
          <a mat-list-item routerLinkActive="active" routerLink="office expenses">Office Expenses</a>
          <a mat-list-item routerLinkActive="active" routerLink="AdvertisementBills">Advertisement Bills</a>
          <a mat-list-item routerLinkActive="active" routerLink="tripPL">Trip Profit&Loss</a>
          <a mat-list-item routerLinkActive="active" routerLink="products">Products</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
