<form align="center">
    <div class="container">
    <div class="col">

        <mat-form-field appearance="outline">
            <mat-label>Employee Id</mat-label>
            <input matInput formControlName="EmpId" type="text" placeholder="EmpId">
        </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Salary Year</mat-label>
             <input matInput formControlName="SalaryYear" type="text" placeholder="Salary Year">
       </mat-form-field>
       <mat-form-field appearance="outline">
        <mat-label>Salary Month</mat-label>
         <input matInput formControlName="SalaryMonth" type="text" placeholder="Salary Month">
   </mat-form-field>
   <mat-form-field appearance="outline">
    <mat-label>Salary Date</mat-label>
     <input matInput formControlName="SalaryDate" type="text" placeholder="Salary Date">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label> Basic Salary</mat-label>
     <input matInput formControlName="Basic Salary" type="text" placeholder="Basic Salary">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Transport Allowances</mat-label>
     <input matInput formControlName=" Transport Allowances" type="text" placeholder="Transport Allowances">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>House Rent Allowances</mat-label>
     <input matInput formControlName=" House Rent Allowances" type="text" placeholder="House Rent Allowances">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Dearness Allowances</mat-label>
     <input matInput formControlName=" Dearness Allowances" type="text" placeholder="Dearness Allowances">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Medical Allowances</mat-label>
     <input matInput formControlName=" Medical Allowances" type="text" placeholder="Medical Allowances">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Insurance</mat-label>
     <input matInput formControlName="Insurance" type="text" placeholder="Insurance">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label> Provident Fund</mat-label>
     <input matInput formControlName="Provident Fund" type="text" placeholder="Provident Fund">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label> Add-On's</mat-label>
     <input matInput formControlName=" Add-On's" type="text" placeholder="Add-On's">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label> Gross Salary</mat-label>
     <input matInput formControlName="  Gross Salary" type="text" placeholder="Gross Salary">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label> Deductions</mat-label>
     <input matInput formControlName="Deductions" type="text" placeholder="Deductions">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Net Salary</mat-label>
     <input matInput formControlName="Net Salary" type="text" placeholder="Net Salary">
</mat-form-field>
    </div>
    <div>
        <button style="margin-left: 20px;" mat-raised-button color="accent" id="submit">Submit
            <mat-icon>assignment_turned_in</mat-icon>
        </button>
        <button style="margin-left: 20px;" mat-raised-button color="warn" 
            type="button">Delete
            <mat-icon>close</mat-icon>
        </button>
        <button style="margin-left: 20px;" mat-raised-button color="warn" 
            type="button">Clear
            <mat-icon> notes</mat-icon>
        </button>
        <button style="margin-left: 20px;" mat-raised-button color="primary" id="update"
            type="button">Update
            <mat-icon>update</mat-icon></button>
            <button style="margin-left: 20px;" mat-raised-button color="primary" class="btnGet"
            type="button"> Get
            <mat-icon>get_app</mat-icon></button>

    </div>
</div>
</form>