/* #heading {
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
} */

#form {
    margin: auto;
    width: 500px;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center;
    height: 500px;
    /* width: 300px; */
    /* border-radius: 5px; */
    align-items: center;
}

/* ::ng-deep .mat-mdc-form-field-infix {
    min-height: 50px;
    font-size: small;
}

mat-mdc-text-field-wrapper mdc-text-field ng-tns-c1205077789-4 mdc-text-field--filled {
    top: -1.5em !important;
}

::ng-deep .mat-mdc-form-field-flex>.mat-mdc-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    top: -1.5em !important;

} */
.container{
    padding-top: 2%;
}

.btnClose:hover {
    background-color: red;
    border-radius: 1px;
    color: white;
    margin-right: 1000px;
    align-items: right;

}

#SalaryYear{
    margin-left: 40px;
}
mat-form-field{
    gap: 1;
    width: 30%;
    padding-left: 15px;
}
#submit{
    margin-right: 20px;
}
.btnDelete{
    margin-left: 20px;

}
.btnClear{
margin-left: 20px;
}
#update{
    margin-left: 20px;
}
.btnGet{
    margin-left: 20px;
}
#form{
    /* background-color:rgb(166, 185, 201); */

    width: auto;
    height: auto;
}
/* #Salaries{
    margin-left: 100px;
   
} */

