<form class="form" align="left">
  <h2 id="header" align="margin-left">Advertisement Bills</h2>
  <div class="container fluid">
    <div class="col" align="center">
      <mat-form-field appearance="outline" id="billid">
        <mat-label>AdvBill Id</mat-label>
        <input matInput type="number" placeholder="AdvBill Id">
    </mat-form-field>
    <button id="btnget"  mat-raised-button color="accent"><mat-icon>get_app</mat-icon>Get</button>
    </div>
  <div class="col" align="center">
    <mat-form-field appearance="outline">
      <mat-label>Transaction Id</mat-label>
      <input id="transactionid" matInput placeholder="Transaction Id" >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Adv Type</mat-label>
    <mat-select id="AdvType" #mode value="select">
        <mat-option value="Select">Select</mat-option>
      <mat-option value="Facebook">Facebook</mat-option>
      <mat-option value="Instagram">Instagram</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
<div class="col" align="center">
  <mat-form-field appearance="outline">
    <mat-label>AdvBill Date</mat-label>
    <input id="billdate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>AdvBill Amount</mat-label>
      <input id="billamount" matInput type="number" placeholder="AdvBill Amount">
  </mat-form-field>
</div>
 <div class="col" align="center">
  <mat-form-field appearance="outline" class="remarks">
    <mat-label>Remarks</mat-label>
    <textarea  matInput placeholder="Remarks"></textarea>
</mat-form-field>
</div>
  </div>
  <div class="col" align="center" >
    <button id="btnapply" mat-raised-button color="primary" ><mat-icon>save</mat-icon>Apply</button>
     <!-- <button id="btnget"  mat-raised-button color="accent"><mat-icon>get_app</mat-icon>Get</button> -->
    <button id="btnreset"  mat-raised-button color="accent"><mat-icon>cached</mat-icon>Update</button>
    <button id="btnclear" mat-raised-button color="red"><mat-icon>delete</mat-icon>Delete</button>
    <button id="btnclose" mat-raised-button color="red"><mat-icon>clear_all</mat-icon>Clear</button>
  </div>
</form>
