<form class="form" align="center">
  <h1 id="header" align="margin-left:120px">Advertisement Bills</h1>
  <div>
    <mat-form-field appearance="outline" style="margin-left: 120px;">
      <mat-label>Mode</mat-label>
      <mat-select #mode value="select" formControlName="Mode">
          <mat-option value="Select">Select</mat-option>
        <mat-option value="Add">Add</mat-option>
        <mat-option value="Update">Update</mat-option>
        <mat-option value="Delete">Delete</mat-option>
        <mat-option value="View">View</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 90px;">
      <mat-label>Transaction Id</mat-label>
      <input id="transactionid" matInput placeholder="Transaction Id" formControlName="TransactionId">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" style="margin-left: 120px;">
      <mat-label>Advertisement Type</mat-label>
      <mat-select #mode value="select"  formControlName="AdvertisementType">
          <mat-option value="Select">Select</mat-option>
        <mat-option value="Facebook">Facebook</mat-option>
        <mat-option value="Instagram">Instagram</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 90px;">
      <mat-label>AdvertisementBill Id</mat-label>
      <input id="billid" matInput placeholder="AdvertisementBill Id" formControlName="AdvBillId">
  </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" style="margin-left: 90px;">
      <mat-label>AdvertisementBill Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="AdvBill_Date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 90px;">
      <mat-label>AdvertisementBill Amount</mat-label>
      <input id="billAmount" matInput placeholder="AdvertisementBill Amount" formControlName="AdvBill_Amount">
  </mat-form-field>
  </div>
</form>
