mat-form-field {
    gap: 1;
    padding-right: 9px;
    width: 40%;
  }
  header {
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  }
  .container {
    padding-top: 2%;
    /* align-self: center; */
  }
  /* form {
    background-color: aqua;
    padding: 10%;
  } */
  mat-card-content {
    padding-top: 10%;
  }
  .btnClear {
    margin-left: 10px;
  }
  button {
    border-radius: 20px;
  }
  