<!DOCTYPE html>
<html>
<form>
    <mat-card>
        <mat-card-content>
            <header><b>Trip Bills </b></header>
            <div class="container fluid">

                <div class="col" align="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Bill Id</mat-label>
                        <input matInput type="number" placeholder="Bill Id">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Transction Id</mat-label>
                        <input matInput type="text" placeholder="Transction Id">
                    </mat-form-field>
                    <mat-form-field appearance = "outline">
                        <mat-label>Trip Id</mat-label>
                        <input matInput type="number" placeholder="TripId">

                    </mat-form-field>
                </div>
            </div>