mat-form-field {
  gap: 1;
  padding-right: 9px;
  width: 33%;
}

header {
  width: 100%;
  height: 30px;
  padding-top: 4px;
  background: linear-gradient(to bottom, #3350f3 0%, #707bf4 100%);
}

.container {
  padding-top: 3%;
  /* align-self: center; */
}

/* form {
  background-color: aqua;
  padding: 10%;
} */
mat-card-content {
  padding-top: 10%;
}

.btnClear {
  margin-left: 10px;
}

button {
  border-radius: 20px;
}

.btnDelete {
  background-color: green;
}

.btnUpdate {
  margin-left: 10px;
}

.btnDelete {
  margin-left: 10px;
}

.btn {
  gap: 1;
}

.remarks {
  width: 100%;
  height: -20px;
}