/* ::ng-deep .mat-mdc-form-field-infix {
    min-height: 50px;
    font-size: small;
  }
   mat-mdc-text-field-wrapper
  mdc-text-field
  ng-tns-c1205077789-4
  mdc-text-field--filled {
  top: -1.5em !important;
} 
::ng-deep .mat-mdc-form-field-flex > .mat-mdc-form-field-infix {
    padding: 0.4em 0px !important;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    top: -1.5em !important;
  } */
  .form{
    /* background-color: white; */
    height: 530px;
  }
  .heading{
    background-color:rgb(251, 219, 177);
  }
  #delete{
    background-color: rgb(184, 109, 238);
    color: white;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 20px;
  
}
#Apply{
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 20px;
  
}
#reset{
    background-color: rgb(246, 83, 178);
    color: white;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 20px;
  
}
#Clear{
        background-color: rgb(247, 69, 69);
        color: white;
        margin-bottom: 10px;
        margin-left: 30px;
        border-radius: 20px;
      
}
mat-form-field {
  gap: 1;
  padding-right: 9px;
  width: 40%;
}
.container {
  padding-top: 2%;
}
 